<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Goody</span>
  <span class="spacer"></span>
  <!-- search form -->
  <div class="search-form">
    <form class="example-form" (ngSubmit)="search()">
      <mat-form-field class="example-full-width">
        <mat-label>Search</mat-label>
        <input type="text"
               aria-label="Search"
               matInput
               [formControl]="myControl"  
               >
        
      </mat-form-field>
    </form>
  </div>  
  <!-- search form -->
  <span class="spacer"></span>
  <small>{{user.username}}</small>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with settings icon"
    
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><mat-icon>edit</mat-icon>Update profile</button>
    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>logOut</button>
  </mat-menu>
</mat-toolbar>
