<app-header></app-header>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-drawer-container
      #drawer
      class="example-container"
      (mouseenter)="drawer.open()"
      (mouseleave)="drawer.close()"
      autosize
    >
      <mat-drawer class="example-sidenav" mode="side">
        <!-- <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button> -->
      </mat-drawer>

      <div class="example-sidenav-content">
        <span>
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>dashboard</mat-icon> Dashboard
          </button>
          <mat-divider></mat-divider>
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>login</mat-icon> Create new
          </button>
          <mat-divider></mat-divider>
          <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon>login</mat-icon> Exit
          </button>
        </span>
      </div>
    </mat-drawer-container>
  </mat-drawer>
  <!-- <mat-drawer-content>Main content</mat-drawer-content> -->
</mat-drawer-container>
