<app-header (loggedOut)="logout()" (searchItem)="search($event)"></app-header>



<mat-drawer-container class="example-container">
  
  <mat-drawer
    mode="side"
    [class.sidenav-open]="open"
    [class.sidenav-close]="!open"
    opened
  >
    <mat-drawer-container
      #drawer
      class="example-container"
      (mouseenter)="sidenavToggle()"
      (mouseleave)="sidenavToggle()"
      autosize
    >
      <mat-drawer class="example-sidenav" mode="side">
       
      </mat-drawer>

      <div class="example-sidenav-content">
        <span>
          <button type="button" mat-button>
            <mat-icon class="menu-icon">insert_emoticon</mat-icon>
            {{ user.username }}
          </button>
          <mat-divider></mat-divider>
          <div class="side-menu">
            <button type="button" mat-button (click)="drawer.toggle()">
              <mat-icon class="menu-icon">dashboard</mat-icon> Dashboard
            </button>

            <button type="button" (click)="openDialog()" mat-button>
              <mat-icon class="menu-icon">person_add</mat-icon> Create new
            </button>
            <br />
            <button type="button" mat-button (click)="drawer.toggle()">
              <mat-icon class="menu-icon">login</mat-icon> Exit
            </button>
          </div>
        </span>
      </div>
    </mat-drawer-container>
  </mat-drawer>
  <mat-drawer-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <div class="main-content">
      <h2 class="text-center">Latest profiles</h2>
      
      <div class="inner-content" >
        <mat-card class="example-card" *ngFor="let kid of kids">
          <mat-card-header>
            <div *ngIf="kid.photoUrl == null; else elseblock"></div>
            <div mat-card-avatar class="example-header-image">
              <img
                class="kid-photo"
                src="https://lh3.googleusercontent.com/proxy/sl330NuiHRdkdPhKBvHI8IlydA7ldzHZ3sfvJNypirCgyldLQNMI0H_qjn0dSRFLemW8RCr3Rb4CqXz54kjVUpMayJlaETfFH4AaeLs-MmfsaXjabg"
                alt="kid photo"
              />
            </div>
            <ng-template #elseblock>
              <img mat-card-avatar class="kid-photo" src="" alt="kid photo" />
            </ng-template>
            <mat-card-title>{{ kid.name }}</mat-card-title>
            <mat-card-subtitle>{{ kid.DOB }}</mat-card-subtitle>
          </mat-card-header>
          
          <div class="divider"><hr /></div>
          <mat-card-content>
            <p>
              A good kid.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="divider"><hr /></div>
      <div class="text-center">
        <h2>Latest News</h2>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

