<div class="content">
  <h1 mat-dialog-title>Add a child</h1>
  <div mat-dialog-content>
    <mat-horizontal-stepper #stepper>
      <mat-step
        [stepControl]="firstFormGroup"
        errorMessage="Full name and dob are required."
      >
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Personal details</ng-template>
          <mat-form-field>
            <mat-label>Full name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="name"
              required
            />
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input
              matInput
              [matDatepicker]="datepicker"
              formControlName="dob"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="datepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker> </mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step
        [stepControl]="secondFormGroup"
        errorMessage="Both name and number are required."
      >
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Next of Kin</ng-template>
          <mat-form-field>
            <mat-label>Full name</mat-label>
            <input
              matInput
              placeholder="John Smith"
              formControlName="nokname"
              required
            />
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input
              matInput
              placeholder="+{254) - (700) - (000000)"
              formControlName="noknumber"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step
        [stepControl]="thirdFormGroup"
        errorMessage="Image is required."
      >
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Add image</ng-template>
          <br />
          <div>
            <ngx-uploadcare-widget
              images-only="true"
              data-tabs="file url"
              formControlName="kidphoto"
              public-key="51514fae47ad7733b04a"
            >
            </ngx-uploadcare-widget>
          </div>
          <br />
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
            <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Done?</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <div class="spacer"></div>
    <button mat-button mat-dialog-close (ngSubmit)="upload()">Done</button>
  </div>
</div>
